*{
    padding:0;
    margin:0;
    background-color: lightblue;
    font-size:35px;
    box-sizing:border-box;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

p{
    font-size:28px;
}

textarea{
    display:block;
    height:200px;
    width:615px;
    padding:10px;
}
.tag{
    border:1px;
    background-color: coral;
    border-radius: 40px;
    padding:5px 10px;
    font-size: 25px;
    margin:5px;
}
.tag.highlight{
    background-color: rgb(90, 40, 22);
    border-radius: 40px;
    padding:5px 10px;
    font-size: 25px;
    color: white;
}
#tags{
    margin-top: 20px;
}